@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';


/////* FONTS */////
$enable-responsive-font-sizes: true;

h1 {
  font-weight: 800;
  @include font-size(4rem);
  text-align: center;
  text-shadow: 3px 3px 3px #000;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

///*  BUTTONS *///
.red-btn {
  background-color: #d32824;
  border-radius: 25px;
  border-style: none;
  line-height: 2.2;
  color: white;
  padding: 0 15px 5px 15px;
  &:hover {
    background-color: #026fa1;
  }
}

//////////   NAVIGATION   ///////////

//NAVBAR
navbar {
  line-height: 3;
  font-size: 1.2rem;
}

.bg-dark {
  &.navbar{
    color: white;
  }
  background-color: #102526 !important;
}

.justify-content-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  // ICONS
  i.fas{
    color: #d32824;
    padding-bottom: 10px;
    font-size: xx-large;
  }

  li {
    margin: 1vh 3vh 0px 0px;
    @include media-breakpoint-down(sm){
      margin: 1vh 1vh 0px 0px;
    }
    p {
      font-size: 1rem;
      color: #65707b;
    }
    .red-btn {
      margin-left: 2rem;
    }
  }
}

.justify-content-start li {
  padding: 0 15px;

  &:hover {
    background-color: #071818;
  }

  #services {
    color: white;
    font-size: inherit;
    vertical-align: inherit;
  }

  .dropdown-menu {
    background-color: #193435;
    color: white;
    .dropdown-item {
      color: inherit;
      &:hover {
        background-color: #071818;
      }
    }
  }
}

.breadcrumb{
  background-color: transparent;
  .breadcrumb-item {
    color: #2f6c6f;
    font-size: 1.2rem;
    &.active {
      color: black;
      &::before {
        color: black;
      }
    }
  }
}

/////////////   JUMBOTRON    ////////////
.jumbotron {
  background: url("/images/shinomontazh.jpg");
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include media-breakpoint-up(lg) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.shadow {
  background-color:rgba(0, 0, 0, 0.25);
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


// MAIN CONTENT
#mygrid {

  width: 100%;
  margin-bottom: 10vh;
  margin-top: 10vh;
  color: #fff;

  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

  .card-img-overlay {
    &:hover{
      background-color: rgba(0, 0, 0, 0.35);
    }
    .card-title {
      position: relative;
      top: 40%;
      text-shadow: 3px 3px 3px #000;
    }
    h5 {
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
}

#advant {
  background-color: #f4f5f7;
  text-align: center;
  padding: 20px 0 20px 0;

  h2 {
    color: #212529;
    &::after{
      content: '';
      display: block;
      margin-top: 30px;
      margin-bottom: 40px;
      margin-left: 45%;
      width: 10%;
      border-top: 2px solid;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .card {
    border-style:none;
    background-color: inherit;
  }

  i {
    @include font-size(100px);
    padding-bottom: 15px;
  }
}


#aboutus {
  .text {
    padding-top: 5vh;
  }
  font-size: 18px;
  line-height: 1.9;
  h3 {
    font-weight: bold;
  }
  button {
    margin: 1rem 0;
  }
  .row {
    margin: 0;
  }
}

#whyus {
  background: url("/images/bok.jpeg") left 50% top 50% / cover no-repeat fixed !important;
  color: white;
  text-align: center;
  p {
    @include font-size(2rem);
  }
}

.dark {
  background-color:rgba(0, 0, 0, 0.75);
  padding-top: 5vh;
  padding-bottom: 5vh;
  @include media-breakpoint-up(lg) {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

#discount {
  margin-top: 10vh;
  margin-bottom: 10vh;
  .border {
    border: 2px solid #b2c0c0 !important;
    border-radius: 5px;
    padding: 25px;
  }
}

#news {
  background: url("/images/shinomontazh.jpg") left 50% top 50% / cover no-repeat fixed !important;
  color: #fff;
  h2 {
    text-align: center;
    &::after{
      content: '';
      display: block;
      margin-top: 30px;
      margin-bottom: 40px;
      margin-left: 43%;
      width: 14%;
      border-top: 2px solid #fff;
    }
  }
  .card {
    background-color: transparent;
    border: none;
  }
  .card-body {
    padding: 1.25rem 0;
    .card-title {
      font-weight: 600;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline;
        .fa-calendar-alt {
          margin-right: 0.3rem;
        }
      }
    }
    p > a {
      text-decoration: underline;
    }
  }
}

//FORM

#feedback {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  h5::after{
    content: '';
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 43%;
    width: 14%;
    border-top: 2px solid #102526;
  }
}

.alert {
  display: none;
  margin: 1.5rem 0 0 0 !important;
}

////// MAP //////
#address {
  display: grid;
  justify-content: center;
  background-color: #f4f5f7;
  padding: 3rem;
  text-align: center;
  p::after{
    content: '';
    display: block;
    margin-top: 30px;
    margin-left: 25%;
    width: 50%;
    border-top: 2px solid #102526;
  }
}

#map {
  height: 400px;
  width: 100%;
  overflow: visible;
}


//FOOTER
#footer {
  color: #7c9293;
  padding-top: 1.5rem;
  text-align: center;

  @include media-breakpoint-up(sm){
    text-align: left;
  }
  .container, .shadow {
    padding: 2rem 0;
  }

  .shadow {
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0;
    @include media-breakpoint-up(md){
      text-align: right;
    }
    li {
      display: inline;
      vertical-align: middle;
      .fab {
        font-size: 2rem;
        padding: 0 0.5rem;
        &.fa-facebook{
          color: #fff;
        }
        &.fa-instagram {
          color: #d32824;
        }
        &.fa-twitter {
          color: #00acee;
        }
      }
    }
  }
}


//INNER CONTENT
.main-content {
  padding: 5%;
  line-height: 1.9;
  table .active {
    background-color: rgba(0,0,0,.075);
  }
  h2::after{
      content: '';
      display: block;
      margin: 30px 0;
      width: 15%;
      border-top: 2px solid #102526;
  }
}

//SERVICES - TABLE
#serv-table {
  margin-top: 30px;
  thead tr th {
    vertical-align: middle;
    &[rowspan="2"] {
      width: 30%;
    }
    &[colspan="5"] {
      width: 70%;
      text-align: center;
    }
  }
  .size, tbody td {
    text-align: center;
  }
  tbody tr th:hover {
    background-color: rgba(0,0,0,.075);
  }
}


///// GALLERY /////

#gallery {
  img {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 49%;
      height: 12rem;
    }
    @include media-breakpoint-up(lg) {
      width: 32%;
      height: 10rem;
    }
    &:hover{
      cursor: pointer;
      filter: sepia(50%);
      transform: scale(1.1);
    }
  }
}

#galleryModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
  }
  #closepic {
    position: absolute;
    top: 0.3vw;
    right: 3vw;
    color: #d32824;
    @include font-size(3rem);
    font-weight: bold;
    transition: 0.3s;
    &:hover, :focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


/////* NEWS */////
#newspage {
  img {
    width: 100%;
    padding: 15px 0;
  }
  .showdate {
    text-align: right;
  }
}

/////* PAGE 404 */////
#cheems {
  padding: 15vh 15px;
  text-align: center;
  img {
    max-width: 70vw;
  }
}
